h1 {
  text-align: center;
   color: white;
}
h3 {
  color: white;
}
p {
border-radius: 5px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
 color: white;
 padding:20;
}

button {
  background-color: aqua;
  border-radius: 5px;
  height: 30px;
}

body {
/*background-image: url("https://bit.ly/3wkFmkP"); */
  background-color: rgb(16, 16, 41);
}

select {
  background-color: beige;
  border-radius: 5px;
  color: black;
  width:250px;
  height: 30px;
}
